@media screen and (min-width: 358px) {

  .FormCommentsArticle {

    margin-top: 3rem;
  }

  .FormCommentsArticle-title-Counter {

    width: 100%;

    padding: 0 0 .5rem 0;
    box-sizing: border-box;
  }

  .FormCommentsArticle-title-Counter h1 {

    font-size: 1.4rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: start;
  }

  .FormCommentsArticle_box-comments {

    box-sizing: border-box;
  }

  .FormCommentsArticle_array-Comments {


  }

  .FormCommentsArticle_Comment {

    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(221, 216, 216);
  }

  .FormCommentsArticle_Comment-contentInfo {


  }

  .FormCommentsArticle_Comment-contentInfo-imageUser {

    background-image: url("../../../public/ImageUser/vecteezy_man_1206101.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    overflow: hidden;
  }

  .FormCommentsArticle_Comment-contentInfo-imageUser img{

    width: 100%;
    height: 100%;

    z-index: 1000;
  }

  .FormCommentsArticle_Comment-contentInfo-NameUser h1{

    color: black;

    font-size: 1.3rem;
    font-family: "Abel", sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0 0 0 5px;
  }

  .FormCommentsArticle_Comment-contentInfo-NameUser p{

    color: black;

    font-size: 1rem;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 10px 0 0 5px;
  }

  .FormCommentsArticle_Comment-contentInfo-comment {

    width: 100%;

    padding: .30rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  .FormCommentsArticle_Comment-contentInfo-comment p {

    color: black;

    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 1rem 0 0 0;
  }

  /*--------------------*/

  .FormCommentsArticle_Form {

    width: 100%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 10px;
  }

  .FormCommentsArticle_Form-content-box {

    padding: .7rem;
    box-sizing: border-box;
  }

  .FormCommentsArticle_Form-Description-Description h1{

    color: black;

    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
  }

  .FormCommentsArticle_Form-Description-Description p{

    color: black;

    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: .5rem 0 1rem 0;
  }

  .FormCommentsArticle_Form-Description-BoxForm {


  }

  .FormCommentsArticle_Form-Description-BoxForm-form {


  }

  .FormCommentsArticle_Form-Description-BoxForm-form-textArea textarea{

    width: 100%;
    height: 150px;

    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;

    border: 1px solid rgb(210, 205, 205);
    border-radius: 10px;
    outline: none;

    padding: .5rem;
    margin: 0;

    box-sizing: border-box;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-textArea textarea::placeholder{

    color: black;

    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: .5rem 0 1rem 0;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-submit {

    width: 100%;

    margin: 1rem 0 .50rem 0;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-submit input {

    background-color: orange;
    color: white;

    width: 50%;
    height: 40px;

    border-radius: 20px;

    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;

    border: none;
    outline: none;

    cursor: pointer;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-MessageError {

    width: 100%;

    display: flex;
    justify-content: center;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-MessageError-box {

    

    width: 100%;
    height: 50px;
    border-radius: 20px;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-AlertAuth {

    width: 100%;

    display: flex;
    justify-content: center;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-AlertAuth-box {

    background-color: #ff000090;
    width: 100%;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-AlertAuth-box p {

    color: white;

    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  
  .FormCommentsArticle_Form-Description-BoxForm-form-AlertAuth-box {

    background-color: #ff000090;
    width: 100%;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FormCommentsArticle_Form-Description-BoxForm-form-AlertAuth-box p {

    color: white;

    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }
}
