@media screen and (min-width: 358px) {
  .AboutCustomers {
  }

  .AboutCustomers_content {
    margin-top: 2rem;
  }

  .AboutCustomers_box-info {
    width: 100%;

    padding: 0.5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .AboutCustomers_box_info-slogan p {
    color: orangered;

    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin: 0;
  }

  .AboutCustomers_box_info-title {
    width: 300px;
  }

  .AboutCustomers_box_info-title h1 {
    color: black;

    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    margin: 0;
  }

  .AboutCustomers_box_info-TXT {
    width: 300px;
    text-align: center;
  }

  .AboutCustomers_box_info-TXT p {
    color: black;

    line-height: 22px;
    font-family: sans-serif;
    text-align: center;
    margin: 1rem 0 0 0;
  }

  .AboutCustomers_box-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 1rem 1rem 1rem;
  }

  .AboutCustomers_box-comments-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    padding: 0.5rem;

    margin: 0 0 3rem 0;
    box-sizing: border-box;
  }

  .AboutCustomers_box-comments-doubleQuotes {
    color: orangered;

    font-size: 3rem;
  }

  .AboutCustomers_box-comments-opinion p {
    color: black;

    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Abel", sans-serif;
    text-align: start;

    margin: 0;
  }

  .AboutCustomers_box-comments-TXT p {
    color: rgb(102, 97, 97);

    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    font-family: sans-serif;
    text-align: start;

    margin: 1rem 0 0 0;
  }

  .AboutCustomers_box-comments-boxUser {
    width: 100%;

    display: flex;
    align-items: center;

    padding: 1.5rem 0.5rem 0.5rem 0.5rem;

    box-sizing: border-box;
  }

  .AboutCustomers_box-comments-image {
    background-image: url("../../../public/ImageUser/vecteezy_man_1206101.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    margin-right: 10px;
  }

  .AboutCustomers_box-comments-nameUser h1 {
    color: black;

    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    font-family: "Chakra Petch", sans-serif;
    text-align: start;

    margin: 0;
  }

  .AboutCustomers_box-comments-nameUser p {
    color: rgb(132, 125, 125);

    font-size: 0.9rem;
    font-weight: 600;
    line-height: 22px;
    font-family: "Kanit", sans-serif;
    text-align: start;

    margin: 0;
  }
}

@media screen and (min-width: 440px) {
  .AboutCustomers_box-comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 2rem 0rem 1rem 0rem;
  }

  .AboutCustomers_box-comments-card {
    width: 360px;
  }
}

@media screen and (min-width: 600px) {
  .AboutCustomers_box-comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 5px;
    padding: 2rem 0rem 1rem 0rem;
  }

  .AboutCustomers_box-comments-card {
    width: 49%;
    max-width: 360px;
  }
}

@media screen and (min-width: 1000px) {
  .AboutCustomers_box_info-TXT {
    width: 500px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .AboutCustomers {
    display: flex;
    justify-content: center;
  }

  .AboutCustomers_content {
    max-width: 1300px;
    margin: 4rem 0 4rem 0;
  }
}
